<ul>
  <% @events.each do |event| %>
    <section class="event">
      <div class="summary">
      <h2>
        <%= link_to event.name, event %>
      </h2>
      <h3>
        (<%= event.location %>) 
      </h3>
      <span class="price">
        <%= number_to_currency(event.price, precision: 0) %>
      </span>
      <p>
        <%= truncate(event.description, length: 35, separator: ' ') %>
      </p>
      </div>
    </section>
  <% end %>
</ul>
